<!DOCTYPE html>

<head th:replace="~{fragments/head :: head(pageTitle='알람')}"></head>
<body>
    <div class="main-layout" style="display: flex;">

        <!-- 1. 왼쪽 사이드바 -->
        <div th:replace="~{fragments/sidebar :: sidebar(currentPage='notification')}"></div>

        <!-- 2. 오른쪽 영역 (헤더 + 본문) -->
        <div class="main-wrapper" style="flex: 1; display: flex; flex-direction: column;">

            <!-- 상단 헤더 현재 선택한 왼쪽 사이드 메뉴 + 오른쪽 선택한 메뉴 -->
            <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'notification'} })}"></div>

            <!-- 상단 메뉴 -->
            <div th:replace="~{fragments/headerCategoryMenu :: notification}"></div>

            <!-- 메인 콘텐츠 -->
            <main class="content">
                <div class="container">
                    <h1 class="page-title">알람 목록</h1>

                    <!-- 알람이 없을 때 -->
                    <p class="empty-msg-notification" th:if="${#lists.isEmpty(isNotReadAlarmList)}">
                        새로운 알람이 없습니다.
                    </p>

                    <!--알람이 있을 때-->
                    <table class="book-table" th:unless="${#lists.isEmpty(isNotReadAlarmList)}">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>모듈 이름</th>
                            <th>알람 타입</th>
                            <th>메세지</th>
                            <th>생성 시간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="alarm : ${isNotReadAlarmList}">
                            <td th:text="${alarm.id}">1</td>
                            <td th:text="${alarm.moduleName}">모듈 이름</td>
                            <td th:text="${alarm.categoryType}">알람 타입</td>
                            <td th:text="${alarm.message}">메세지</td>
                            <td th:text="${#temporals.format(alarm.createdAt, 'yyyy-MM-dd HH:mm:ss')} ?: '-'">생성 시간</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
<!--                <h1>알람 홈 화면 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</h1>-->
            </main>

            <!-- 하단 푸터 삽입 -->
            <footer th:replace="~{fragments/footer :: footer}"></footer>

        </div>
    </div>

</body>
</html>