<!DOCTYPE html>

<head th:replace="~{fragments/head :: head(pageTitle='알람')}"></head>
<body>
<div class="main-layout" style="display: flex;">

    <!-- 1. 왼쪽 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar(currentPage='notification')}"></div>

    <!-- 2. 오른쪽 영역 (헤더 + 본문) -->
    <div class="main-wrapper" style="flex: 1; display: flex; flex-direction: column; margin: 0">

        <!-- 상단 헤더 현재 선택한 왼쪽 사이드 메뉴 + 오른쪽 선택한 메뉴 -->
        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'notification'} })}"></div>

        <!-- 상단 메뉴 -->
        <div th:replace="~{fragments/headerCategoryMenu :: notification}"></div>

        <!-- 메인 콘텐츠 -->
        <main class="content">
            <div class="container" style="min-width: 80vh">

                <h1 class="page-title" style="margin: 0;">알림</h1>

                <div th:each="entry : ${alarmMap}">

                    <div th:switch="${entry.key}">

                        <!-- 새로운 알림 실행 -->
                        <div th:case="'Y'">
                            <!--정렬 버튼 영역-->
                            <div class="sort-bar">

                                <span style="font-size: 13px;color: #64748b">정렬: </span>

                                <!--최신순 sortBy = `id` / direction=`desc` page=0-->
                                <a th:href="@{/customer(sortBy='id', direction='desc', page=0, searchType=${searchType}, keyword=${keyword}, rating=${rating})}"
                                   th:class="${sortBy == 'id'} ? 'sort-btn active' : 'sort-btn'">최신순</a>

                                <!--이름순 sortBy = `customerName` / direction='asc'
                                    - ORDER BY  customer_name ASC -> 이름 가나다 오름차순
                                    - searchType-keyword-rating을 그대로 전달 -->
                                <a th:href="@{/customer(sortBy='customerName', direction='asc', page=0, searchType=${searchType}, keyword=${keyword}, rating=${rating})}"
                                   th:class="${sortBy == 'customerName'} ? 'sort-btn active' : 'sort-btn'">이름순</a>

                                <!--적립금순 sortBy ='reserves' / direction='desc' -->
                                <a th:href="@{/customer(sortBy='reserves', direction='desc', page=0, searchType=${searchType}, keyword=${keyword}, rating=${rating})}"
                                   th:class="${sortBy == 'reserves'} ? 'sort-btn active' : 'sort-btn'">적립금순</a>
                            </div>
                        </div>

                        <!-- 기존 알림 실행 -->
                        <div th:case="'N'">
                            <!--정렬 버튼 영역-->
                            <div class="category-bar">

                                <span style="font-size: 13px;color: #64748b">카테고리: </span>

                                <!--이름순 sortBy = `customerName` / direction='asc'
                                   - ORDER BY  customer_name ASC -> 이름 가나다 오름차순
                                   - searchType-keyword-rating을 그대로 전달 -->
                                <a th:href="@{/notification(page=0, alarmCategory='BILLING' )}"
                                   th:class="${sortBy == 'id'} ? 'sort-btn active' : 'sort-btn'">관리비</a>

                                <!--최신순 sortBy = `id` / direction=`desc` page=0-->
                                <a th:href="@{/notification(page=0, alarmCategory='PARKING' )}"
                                   th:class="${sortBy == 'id'} ? 'sort-btn active' : 'sort-btn'">주차</a>

                                <!--최신순 sortBy = `id` / direction=`desc` page=0-->
                                <a th:href="@{/notification(page=0, alarmCategory='INQUIRY' )}"
                                   th:class="${sortBy == 'id'} ? 'sort-btn active' : 'sort-btn'">민원</a>

                                <!--적립금순 sortBy ='reserves' / direction='desc' -->
                                <a th:href="@{/notificationr(page=0, alarmCategory='RESERVATION' )}"
                                   th:class="${sortBy == 'id'} ? 'sort-btn active' : 'sort-btn'">예약</a>
                            </div>
                        </div>
                    </div>


                    <table class="book-table">

                        <thead>
                        <tr>

                            <th style="padding-left: 35px; width: 260px;">

                                <!-- 1. 알림 텍스트 -->
                                <span th:text="(${entry.key == 'Y' ? '안 읽은 알림 ' : '읽은 알림 '}) + ${entry.getValue().totalElements >= 1 ?
                                                                                entry.getValue().totalElements : 0} + '건'"> '알림' 0건 </span>
                            </th>

                            <th style="display: flex; gap: 10px; padding-left: 400px; width: 600px;">

                                <!-- 2. 버튼 영역 -->
                                <th:block th:each="i : ${#numbers.sequence(0, 1)}"> <!-- 2번 반복 -->

                                    <!-- first_page : 안 읽은 알림, second_page : 읽은 알림 -->
                                    <th:block th:with="pageParamName=${entry.key == 'Y' ? 'first_page' : 'second_page'},
                                                      nextPageNum=${i == 0 ? entry.value.number - 1 : entry.value.number + 1}"> <!-- Prev: entry.value.number - 1, Next: entry.value.number + 1 -->

                                        <a th:href="@{'/notification?' + ${pageParamName} + '=' + ${nextPageNum}}"
                                           th:classappend="${(i == 0 ? entry.value.first : entry.value.last) ? 'btn-disabled' : 'btn'}"
                                           th:text=" ${i == 0 ? 'Prev' : 'Next'}"
                                           style="padding: 5px 10px; font-size: 0.8rem">Btn</a>
                                    </th:block>
                                </th:block>
                            </th>
                        <tr>

                        </thead>
                        <tbody>
                        <tr th:each="i : ${#numbers.sequence(0, entry.getValue().size - 1)}">   <!-- 현재 페이지 적용으로 3개씩 출력 -->

                            <!-- 실제 데이터가 있는 경우 -->
                            <td th:if="${i < entry.getValue().numberOfElements}"
                                th:with="
                                   now=${#temporals.createNow()},
                                   diffMinutes=${T(java.time.temporal.ChronoUnit).MINUTES.between(entry.getValue().content[i].getCreatedAt(), now)},
                                   diffHours=${T(java.time.temporal.ChronoUnit).HOURS.between(entry.getValue().content[i].getCreatedAt(), now)},
                                   diffDays=${T(java.time.temporal.ChronoUnit).DAYS.between(entry.getValue().content[i].getCreatedAt(), now)}">


                                <div style="display: flex; gap: 15px; padding-left: 20px">

                                    <span th:text="${entry.getValue().content[i].getAlarmCategory().getTitle()}"></span>

                                    <div>
                                        <span th:if="${diffMinutes < 1}">방금 전</span>
                                        <span th:if="${diffMinutes >= 1 && diffHours < 1}" th:text="|${diffMinutes} 분 전|"></span>
                                        <span th:if="${diffHours >= 1 && diffHours < 24}" th:text="|${diffHours} 시간 전|"></span>
                                        <span th:if="${diffHours >= 24}" th:text="|${diffDays} 일 전|"></span>
                                    </div>
                                </div>

                                <div style="padding-left: 20px">
                                    <span th:text="|'${entry.getValue().content[i].getAlarmCategory().getTitle()}' ${entry.getValue().content[i].getMessage()}|"></span>
                                </div>
                            </td>

                            <!-- 데이터가 없어 빈 줄로 채워야 하는 경우 -->
                            <td th:if="${i >= entry.getValue().numberOfElements}">
                                <div style="display: flex; gap: 15px; padding-left: 20px">

                                    <span>&nbsp;</span>

                                    <div>
                                        <span>&nbsp;</span>
                                        <span>&nbsp;</span>
                                        <span>&nbsp;</span>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>

                                <div style="padding-left: 20px">
                                    <span>&nbsp;</span>
                                </div>
                            </td>

                            <td th:style="'display: flex; gap: 10px; border-bottom: none; padding-left: ' + (${entry.key == 'Y'} ? '460px' : '400px')"> <!--entry.key == 'Y'는 안 읽은 알림이라 보기 버튼을 삭제 버튼 위체에 둔다.  -->

                                <!-- 2. 버튼 영역 -->
                                <th:block th:each="j : ${#numbers.sequence(0, 1)}"> <!-- 2번 반복 -->

                                    <th:block th:if="${i < entry.getValue().numberOfElements}"> <!-- alarmMap의 반복문 i -->

                                         <th:block th:if="${j == 0}">

                                            <a class="btn" style="margin-top: 6px; padding: 5px 10px; font-size: 1rem;"
                                                th:href="@{/notification/detail/{id}(id=${entry.value.content[i].id})}"
                                                th:text="'보기'">View Details</a>
                                        </th:block>

                                        <th:block th:if="${j == 1 && entry.key == 'N'}" th:with="content=${entry.value.content[i]}">

                                            <form th:action="@{/notification/{alarm}/{cId}/{dId}/delete(alarm=${content.alarmCategory}, cId=${content.id}, dId=${content.referenceId})}"
                                                  method="post"
                                                  onsubmit="return confirm('정말 이 알림을 삭제하시겠습니까?');">
                                                <button type="submit" class="btn content-btn">삭제</button>
                                            </form>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--                <h1>알람 홈 화면 입니다.ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</h1>-->
        </main>

        <!-- 하단 푸터 삽입 -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>

    </div>
</div>

<script th:inline="javascript">

    // URL의 쿼리스트링(?key=value)을 파싱해서 각 파라미터를 꺼낼수 있는 객체 생성
    const params = new URLSearchParams(window.location.search);   // 파라미터 파싱
    console.log("전체 파라미터:", Object.fromEntries(params));
    if (params.get('deleted') === 'true') {              // 값 읽기
        alert('알림이 삭제되었습니다.');                   //  alert
        // /books/1?deleted=true -> /books/1
        window.history.replaceState(null, '', window.location.pathname);   // URL 정리
    }
</script>
</body>